@model CodeBlue.ViewModels.KnowledgeBase.KnowledgeBaseCreateViewModel

@{
    ViewBag.Title = "Create Article";
}

<h2>Create Article</h2>


@using (Html.BeginForm("Save","KnowledgeBase")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>KnowledgeBase</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            @Html.LabelFor(model => model.KnowledgeBase.Category, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.KnowledgeBase.Category, new SelectList(Model.KnowledgeBaseCatagories, "CatagoryName", "CatagoryName"), " -- Select Catagory --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.KnowledgeBase.Category, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KnowledgeBase.ArticleTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KnowledgeBase.ArticleTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KnowledgeBase.ArticleTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KnowledgeBase.Article, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.KnowledgeBase.Article, new { @class = "text-danger form-control", rows = 10 })
            </div>
        </div>

        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
