
<div id="availableTickets" class="tab-pane fade in">
    <h4>Available Tickets</h4>

    @if (Model.AvailableTickets.Count > 0)
    {
        <table class="table table-responsive table-striped">
            <tr>
                <th>Ticket ID</th>
                <th>Ticket Subject</th>
                <th>Requesting Department</th>
                <th>Requestor</th>
                <th>Commands</th>
            </tr>
            @{
                foreach (var ticket in Model.AvailableTickets)
                {
                    <tr>
                        <td>@ticket.Id</td>
                        <td>@ticket.TicketSubject</td>
                        <td>@ticket.Department.DepartmentName</td>
                        <td>@ticket.CreatedByApplicationUser.FirstName @ticket.CreatedByApplicationUser.LastName</td>
                        <td>
                            
                            <a href="@Url.Action("View", "Ticket", new {ticketId = ticket.Id})" class="btn btn-sm btn-primary"><span class='glyphicon glyphicon-info-sign '></span> View</a>
                        </td>
                    </tr>
                }
            }
        </table>
                }
                else
                {
                    <p>No one has any issues! The sign of a great IT Department!</p>
                }

</div><!--- End of Available Tickets Tab --->