@using Microsoft.AspNet.Identity
@model CodeBlue.ViewModels.Ticket.TicketDetailsViewModel
@{
    ViewBag.Title = "Ticket Details";
}

<h2>@ViewBag.Title</h2>
<div class="panel panel-primary">
    
    <div class="panel-heading">
        <h4>Ticket #@Model.Ticket.Id - @Model.Ticket.TicketSubject</h4>
    </div>
    
    <div class="panel-body">
        

        <!--- FIRST ROW --->
        <div class="row">
            <div class="col-sm-4">
                <div class="well">
                    <strong>Ticket Date:</strong> @Model.Ticket.CreatedDate.ToString("MM/dd/yyyy")
                </div><!--- Well End --->
            </div><!--- Column End --->

            <div class="col-sm-4">
                <div class="well">
                    <strong>Requestor Department:</strong> @Model.Ticket.Department.DepartmentName
                </div><!--- Well End --->
            </div><!--- Column End --->
            <div class="col-sm-4">
                <div class="well">
                    <strong>Primary Contact:</strong> <a href="mailto:@Model.Ticket.CreatedByApplicationUser.Email">
                        @Model.Ticket.CreatedByApplicationUser.FirstName @Model.Ticket.CreatedByApplicationUser.LastName
                    </a>
                </div><!--- Well End --->
            </div><!--- Column End --->
        </div> <!--- Row End --->
        
        @{
            var selectList = new List<SelectListItem>
            {
                new SelectListItem {Text = "-- No Change --", Value = "99"},
                new SelectListItem {Text = "Closed: By Requestor", Value = "2"},
                new SelectListItem {Text = "Closed: Completed", Value = "6"},
                new SelectListItem {Text = "Closed: No Completed", Value = "7"},
                new SelectListItem {Text = "Closed: Non Compliance", Value = "8"}
            };
        }
        
        
        
        
        


        <!--- SECOND ROW --->
        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <div class="row">
                        <div class="col-md-12">
                            <strong>Ticket Summary:</strong> <br />
                            @Model.Ticket.TicketSummary
                        </div>
                        
                    </div>
                    <hr/>
                    <div class="row">
                        @if (Model.Ticket.AssignedToApplicationUser != null)
                        {
                            if (Model.Ticket.AssignedToApplicationUser.Id == User.Identity.GetUserId() || User.IsInRole("CanManageTickets"))
                            {
                                using (Html.BeginForm("UpdateStatus", "Ticket"))
                                {
                                    <div class="col-md-3">
                                        <strong>Close Ticket</strong>
                                        @Html.HiddenFor(c => c.Ticket.Id, new { Value = Model.Ticket.Id })
                                        @Html.DropDownListFor(c => c.TicketStatus, selectList, new { @class = "form-control" })
                                        <br /><button type="submit" class="btn btn-primary">Close Ticket</button>
                                    </div>
                                }
                            }
                        }
                        
                        @if (User.IsInRole("CanManageTickets"))
                        {
                            using (Html.BeginForm("UpdateTecnician", "Ticket"))
                            {
                                <div class="col-md-3">
                                    <strong>Reassign Ticket</strong>
                                    @Html.HiddenFor(c => c.Ticket.Id, new {Value = Model.Ticket.Id})
                                    @Html.DropDownListFor(c => c.Ticket.AssignedToApplicationUserId, Model.Technicians.Select(p => new SelectListItem {Value = p.Id, Text = p.LastName + " - " + p.Position.TitleDescription}), new {@class = "form-control"})
                                    <br/><button type="submit" class="btn btn-primary">Re-Assign Ticket</button>
                                </div>
                            }

                            using (Html.BeginForm("EscalateTicket", "Ticket"))
                            {
                                <div class="col-md-3">
                                    <strong>Escalate Ticket</strong>
                                    @Html.HiddenFor(c => c.Ticket.Id, new {Value = Model.Ticket.Id})
                                    <br/><br/><button type="submit" class="btn btn-warning">Escalate Ticket</button>
                                </div>
                            }

                            using (Html.BeginForm("OverrideTicketStatus", "Ticket"))
                            {
                                <div class="col-md-3">
                                    <strong>Override Ticket Status</strong>
                                    @Html.HiddenFor(c => c.Ticket.Id, new {Value = Model.Ticket.Id})
                                    @Html.DropDownListFor(c => c.Ticket.TicketStatusId, Model.TicketStatuses.Select(p => new SelectListItem {Value = p.Id.ToString(), Text = p.StatusDescription}), new {@class = "form-control"})
                                    <br/><button type="submit" class="btn btn-primary">Override Status</button>
                                </div>
                            }




                        }
                        else
                        {
                            if (Model.Ticket.CreatedByApplicationUser.Id == User.Identity.GetUserId() && User.IsInRole("BasicUser") &&
                                Model.Ticket.CreatedDate < DateTime.Now.AddDays(-5))
                            {
                                using (Html.BeginForm("EscalateTicket", "Ticket"))
                                {
                                    <div class="col-md-3">
                                        <strong>Escalate Ticket</strong>
                                        @Html.HiddenFor(c => c.Ticket.Id, new {Value = Model.Ticket.Id})
                                        <br/><br/><button type="submit" class="btn btn-warning">Escalate Ticket</button>
                                    </div>
                                }
                            }
                        }




                    </div>

                </div><!--- Well End --->
            </div><!--- Column End --->
        </div><!--- Row End --->
        
        

        <!--- THIRD ROW --->
        <div class="row">
            <div class="col-sm-4">
                <div class="well">
                    <strong>Technician Assigned:</strong> 
                    @if (Model.Ticket.AssignedToApplicationUser != null)
                    {
                        <a href="mailto:@Model.Ticket.AssignedToApplicationUser.Email">
                            @Model.Ticket.AssignedToApplicationUser.FirstName @Model.Ticket.AssignedToApplicationUser.LastName
                        </a>
                    }
                    else
                    {
                    <a href="@Url.Action("Take","Ticket", new {ticketId = Model.Ticket.Id})" class="btn btn-sm btn-primary">Not Assigned - Take Ticket</a>
                    }

                </div><!--- Well End --->
            </div><!--- Column End --->

            <div class="col-sm-4">
                <div class="well">
                    <strong>Ticket Status:</strong> @Html.Raw(@Model.Ticket.TicketStatus.StatusLabel())
                </div><!--- Well End --->
            </div><!--- Column End --->
            <div class="col-sm-4">
                <div class="well">
                    <strong>Ticket Closed On:</strong> 
                @if (Model.Ticket.ClosedByApplicationUser != null)
                {
                    @Model.Ticket.CompletedDate.ToString();

                    <a href="mailto:@Model.Ticket.ClosedByApplicationUser.Email">@Model.Ticket.ClosedByApplicationUser.FirstName @Model.Ticket.ClosedByApplicationUser.LastName</a>
                }
                else
                {
                   <span> -- Ticket not closed --</span>
                }
                   
                </div><!--- Well End --->
            </div><!--- Column End --->
        </div> <!--- Row End --->
        
        
        
        
        

        
        <!--- FOURTH ROW --->
        <div class="row">
            <div class="col-sm-6">
                <div class="well">
                    <strong>Add A Comment</strong>
                    @using (Html.BeginForm("AddComments", "Ticket"))
                    {
                        <div class="form-group">
                            @Html.TextAreaFor(c => c.NewComment.Comment, new { @class = "form-control", @rows = 10 })
                            @Html.ValidationMessageFor(c => c.NewComment.Comment)
                        </div>
                        @Html.HiddenFor(c => c.NewComment.RelatedTicketId, new{ id= "RelatedTicketId", Value = Model.Ticket.Id})
                        <button type="submit" class="btn btn-primary">Add Comment</button>
                    }


                </div><!--- Well End --->
            </div><!--- Column End --->

            
            <div class="col-sm-6">
                <div class="well">
                    <strong>Comments:</strong> 
                    @if (Model.Comments.Count > 0)
                    {
                        foreach (var comment in Model.Comments)
                        {
                        <div class="well">
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>Posted By:</strong> <a href="mailto:@comment.PostedBy.Email">@comment.PostedBy.FirstName @comment.PostedBy.LastName</a>
                                    
                                </div>
                                <div class="col-md-6">
                                    <strong>Posted On:</strong> @comment.PostedOn.ToString("mm/dd/yyyy - hh:mm")
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-md-12">
                                    <strong>Comment:</strong><br/>
                                    @comment.Comment
                                    <hr />
                                    @if (User.IsInRole("CanManageTickets"))
                                    {
                                        using (Html.BeginForm("RemoveComments", "Ticket"))
                                        {
                                            @Html.HiddenFor(c => c.NewComment.Id, new { id = "CommentId", Value = comment.Id })
                                            @Html.HiddenFor(c => c.NewComment.RelatedTicketId, new { id = "RelatedTicketId", Value = comment.RelatedTicketId })
                                            <button type="submit" class="btn btn-danger btn-xs">Delete Comment</button>
                                        }
                                    }
                                    
                                </div>
                            </div>
                        </div>
                        }
                    }
                    else
                    {
                        <span> -- No Comments --</span>
                    }
                   
                </div><!--- Well End --->
            </div><!--- Column End --->
        </div> <!--- Row End --->
        
        
        
        
        
        
        
        
        
        
        

    </div>

</div>

