@model CodeBlue.ViewModels.Ticket.TicketIndexViewModel
@{
    ViewBag.Title = "Ticket Manager";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Create a Ticket", "Create")

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Available Tickets</h4>
    </div>
    <div class="panel-body">
        
        <table class="table table-responsive table-striped">
            <tr>
                <th>Ticket ID</th>
                <th>Ticket Subject</th>
                <th>Requesting Department</th>
                <th>Requestor</th>
            </tr>
                @{
                    foreach (var ticket in Model.Tickets)
                    {
                        <tr>
                            <td>@ticket.Id</td>
                            <td>@ticket.TicketSubject</td>
                            <td>@ticket.Department.DepartmentName</td>
                            <td>@ticket.CreatedByApplicationUser.FirstName @ticket.CreatedByApplicationUser.LastName</td>

                        </tr>
                    }
                }
            
            

        </table>

    </div>

</div>