@using System.Web.UI.WebControls
@model CodeBlue.ViewModels.Ticket.TicketCrudViewModel

@{
    ViewBag.Title = "TicketForm";
}
@using (Html.BeginForm("Save", "Ticket"))
{
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Add a Ticket</h2>
        </div>

        <div class="panel-body">
            
            @Html.HiddenFor(m => m.Ticket.CreatedByApplicationUser)
            

            <div class="form-group">
                @Html.LabelFor(m => m.Ticket.CreatedDate)
                @Html.TextBoxFor(m => m.Ticket.CreatedDate, new { @class = "form-control", @value = Model.Ticket.CreatedDate.ToShortDateString() })
                @Html.ValidationMessageFor(m => m.Ticket.CreatedDate)
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.Ticket.DepartmentId)
                @Html.DropDownListFor(m => m.Ticket.DepartmentId, new SelectList(Model.Departments, "Id", "DepartmentName"), " -- Select Department --", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Ticket.DepartmentId)
            </div>
            
            
            
            

            @Model.Ticket.CreatedByApplicationUser.FirstName



        </div>
        <div class="panel-footer">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-primary">Save</button>

        </div>
    </div>

    <script>

        $(document).ready(function () {
            $("#datepicker").datepicker({
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true,
                showOtherMonths: true,
                selectOtherMonths: true
            });

        })

    </script>









}



