@using System.Web.UI.WebControls
@model CodeBlue.ViewModels.Ticket.TicketCrudViewModel

@{
    ViewBag.Title = "TicketForm";
}
@using (Html.BeginForm("Save", "Ticket"))
{
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Add a Ticket</h2>
        </div>

        <div class="panel-body">
            
            @Html.HiddenFor(m => m.Ticket.CreatedByApplicationUser)
            @Html.HiddenFor(m => m.Ticket.CreatedByApplicationUser)
            @Html.HiddenFor(m => m.Ticket.Id)
            @Html.ValidationSummary()
            
            <div class="form-group">
                @Html.LabelFor(m => m.Ticket.DepartmentId)
                @Html.DropDownListFor(m => m.Ticket.DepartmentId, new SelectList(Model.Departments, "Id", "DepartmentName"), " -- Select Department --", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Ticket.DepartmentId)
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.Ticket.TicketSubject)
                @Html.TextBoxFor(m => m.Ticket.TicketSubject, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Ticket.TicketSubject)
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.Ticket.TicketSummary)
                @Html.TextAreaFor(m => m.Ticket.TicketSummary, new { @class = "form-control", @rows = 10 })
                @Html.ValidationMessageFor(m => m.Ticket.TicketSummary)
            </div>




        </div>
        <div class="panel-footer">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-primary">Save</button>

        </div>
    </div>











}



